<div class="banner" style="background-image: url('https://source.unsplash.com/random/500×300/?cocktail');">
  <div class="container">
    <div class="row justify-content-center">
      <h1>List of cocktails</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
      <p> <%= link_to "Add an cocktail", new_cocktail_path %></p>
      <div class="row">
          <% @cocktails.each do |cocktail| %>
            <div class="col-4">
              <% if cocktail.photos.attached?  %>
                  <div class="cocktail_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photos.first.key, height: 300, width: 400, crop: :fill %>')">
                      <p> <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
                  </div>
              <% else %>
                  <div class="cocktail_card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/random/500×300/?cocktail')">
                      <p> <%= link_to cocktail.name, cocktail_path(cocktail) %></p>
                  </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
</div>



